<!--
 * @Author: Jandan
 * @Date: 2021-02-17 13:15:46
 * @LastEditTime: 2021-02-17 14:26:54
 * @Description:
-->
{extend name="common/basic" /}{block name="title"}管理员列表{/block}{block name="content"}
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">登录名</label>
          <div class="layui-input-block">
            <input type="text" name="loginname" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-block">
            <input type="text" name="telphone" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色</label>
          <div class="layui-input-block">
            <select name="role">
              <option value="0">管理员</option>
              <option value="1">超级管理员</option>
              <option value="2">纠错员</option>
              <option value="3">采购员</option>
              <option value="4">推销员</option>
              <option value="5">运营人员</option>
              <option value="6">编辑</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px">
        <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
      </div>

      <table id="LAY-user-back-manage" lay-filter="LAY-user-back-manage"></table>
      <script type="text/html" id="statusTpl">
        {{# if(d.status === 1){ }}
        <button class="layui-btn layui-btn-xs">启用</button>
        {{# } else { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
        {{# } }}
      </script>
      <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        {{# if(d.is_super === 1){ }}
        <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
          <i class="layui-icon layui-icon-delete"></i>删除
        </a>
        {{# } }}
      </script>
    </div>
  </div>
</div>
{/block} {block name="footer_js"}
<script>
  layui
    .config({
      base: '__LAYUIADMIN__/', //静态资源所在路径
      version: +new Date(), //实时更新缓存,开发环境使用
    })
    .extend({
      index: 'lib/index', //主入口模块
    })
    .use(['index', 'useradmin', 'table'], function () {
      var $ = layui.$,
        form = layui.form,
        table = layui.table

      //监听搜索
      form.on('submit(LAY-user-back-search)', function (data) {
        var field = data.field

        //执行重载
        table.reload('LAY-user-back-manage', {
          where: field,
        })
      })
    })
</script>
{/block}
