<!--
 * @Author: Jandan
 * @Date: 2021-02-17 13:15:46
 * @LastEditTime: 2021-02-17 20:30:16
 * @Description:
-->
{extend name="common/basic" /}{block name="title"}管理员列表{/block}{block name="content"}
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">登录名</label>
          <div class="layui-input-block">
            <input type="text" name="loginname" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-block">
            <input type="text" name="telphone" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色</label>
          <div class="layui-input-block">
            <script
              type="text/html"
              template
              lay-url="{:url('admin/role/list')}"
              lay-done="layui.form.render('select')"
            >
              <select name="role" lay-filter="LAY-user-adminrole-type">
                <option value="0">全部角色</option>
                {{# layui.each(d.data, function(index,item){ }}
                <option value="{{item.id}}">{{item.label}}</option>
                {{# }) }}
              </select>
            </script>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px">
        <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
      </div>

      <table id="LAY-user-back-manage" lay-filter="LAY-user-back-manage"></table>
      <script type="text/html" id="statusTpl">
        {{# if(d.status === 1){ }}
        <button class="layui-btn layui-btn-xs">启用</button>
        {{# } else { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
        {{# } }}
      </script>
      <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        {{# if(d.is_super === 1){ }}
        <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
          <i class="layui-icon layui-icon-delete"></i>删除
        </a>
        {{# } }}
      </script>
    </div>
  </div>
</div>
{/block} {block name="footer_js"}
<script>
  layui
    .config({
      base: '__LAYUIADMIN__/', //静态资源所在路径
      version: +new Date(), //实时更新缓存,开发环境使用
    })
    .extend({
      index: 'lib/index', //主入口模块
    })
    .use(['index', 'useradmin', 'table'], function () {
      var $ = layui.$,
        form = layui.form,
        table = layui.table

      //监听搜索
      form.on('submit(LAY-user-back-search)', function (data) {
        var field = data.field

        //执行重载
        table.reload('LAY-user-back-manage', {
          where: field,
        })
      })

      //事件
      var active = {
        batchdel: function () {
          var checkStatus = table.checkStatus('LAY-user-back-manage'),
            checkData = checkStatus.data //得到选中的数据

          if (!checkData.length) {
            return layer.msg('请选择数据')
          }

          layer.prompt(
            {
              formType: 1,
              title: '敏感操作，请验证口令',
            },
            function (value, index) {
              layer.close(index)
              admin.req({
                url: '/admin/admin/deleteConfirm',
                type: 'POST',
                data: { password: value },
                done: function (res) {
                  layer.msg(res.msg)
                  var ids = checkData.map((item) => {
                    return item.id
                  })
                  admin.req({
                    url: '/admin/admin/delete',
                    type: 'DELETE',
                    data: { ids },
                    done: function (res) {
                      layer.msg(res.msg)
                      table.reload('LAY-user-back-manage')
                    },
                  })
                },
              })
            },
          )
        },
        add: function () {
          layer.open({
            type: 2,
            title: '添加管理员',
            content: 'adminform.html',
            area: ['420px', '420px'],
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index],
                submitID = 'LAY-user-back-submit',
                submit = layero
                  .find('iframe')
                  .contents()
                  .find('#' + submitID)

              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                var field = data.field //获取提交的字段

                //提交 Ajax 成功后，静态更新表格中的数据
                //$.ajax({});
                table.reload('LAY-user-front-submit') //数据刷新
                layer.close(index) //关闭弹层
              })

              submit.trigger('click')
            },
          })
        },
      }
      $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
        var type = $(this).data('type')
        active[type] ? active[type].call(this) : ''
      })
    })
</script>
{/block}
