<div class="layui-side layui-side-menu">
  <div class="layui-side-scroll">
    <div class="layui-logo" lay-href="{:url('console')}">
      <span>layuiAdmin</span>
    </div>
    <ul
      class="layui-nav layui-nav-tree"
      lay-shrink="all"
      id="LAY-system-side-menu"
      lay-filter="layadmin-system-side-menu"
    >
      <script id="menuTpl" type="text/html">
        <!-- 一级菜单 -->
        {{# var path = layui.router().path}} {{# layui.each(d, function(index1,item1){ var classSelected1 = function(){
        var match1 = (index1 == 0 && !path[0]) || item1.spread; if(match1){ return item1.child ? 'layui-nav-itemed' :
        'layui-this' } return '' } }}
        <li data-name="{{ item1.key }}" class="layui-nav-item {{ classSelected1() }}">
          <a
            href="javascript:;"
            {{#if(!item1.child){}}lay-href="{{item1.url}}"
            {{#}}}
            lay-tips="{{ item1.label }}"
            lay-direction="2"
          >
            <i class="layui-icon {{ item1.icon }}"></i>
            <cite>{{item1.label}}</cite>
          </a>
          <!-- 二级菜单 -->
          {{# if(item1.child){ }}
          <dl class="layui-nav-child">
            {{# layui.each(item1.child, function(index2,item2){ }}
            <dd data-name="{{ item2.key }}">
              <a href="javascript:;" {{#if(!item2.child){}}lay-href="{{item2.url}}" {{#}}}>{{item2.label}}</a>
              <!-- 三级菜单 -->
              {{# if(item2.child){ }}
              <dl class="layui-nav-child">
                {{# layui.each(item2.child, function(index3,item3){ }}
                <dd data-name="{{ item3.key }}">
                  <a href="javascript:;" {{#if(!item3.child){}}lay-href="{{item3.url}}" {{#}}}>{{ item3.label }}</a>
                </dd>
                {{# }) }}
              </dl>
              {{# } }}
            </dd>
            {{# }) }}
          </dl>
          {{# } }}
        </li>
        {{# }) }}
      </script>
    </ul>
  </div>
</div>
